<footer class="flex w-full h-1/5 justify-center  p-4">
  <div class="grid w-[1200px] justify-center items-center ">
    <div>&copy; 2024 | By <a href="https://duc243.github.io/duc243" class="text-gray-600 hover:text-sky-300 hover:underline">Exousia KASEKA</a></div>
    <div class="flex justify-center gap-2">
      <a href="https://github.com/duc243" class="px-2 rounded-md hover:bg-gray-400"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://linkedin.com/in/exousiakaseka" class="px-2 rounded-md hover:bg-gray-400"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a>
      <a href="https://x.com/ekeey_8" class="px-2 rounded-md hover:bg-gray-400"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
    </div>
  </div>
</footer>
<script src="/js/deleteCookie.js"></script>